@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: #50b7f5;
  --background: #cbd5e0;
  --puntoMisClases: #83c298;
  --puntoEvento: #ff0000;
  background-color: #f4f4f7;
}
.contenedorDiv {
  display: flex;
  height: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}
.sidebarUser img {
  height: 50px;
  border-radius: 50%;
}

.sidebarUser {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid var(--background);
}

.sidebarUser p {
  font-size: 17px;
  font-weight: 600;
  margin-left: 15px;
}

.contenedor-sidebar {
  border: 1px solid var(--background);
  background-color: white;
  margin-top: 30px;
  border-radius: 7px;
}
.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOption .fas {
  padding: 15px;
}
.sidebarOption h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
.sidebarOption:hover {
  background-color: var(--background);
  border-radius: 30px;
  color: var(--color);
  transition: color 100ms ease-out;
}

.sidebar {
  border-right: 1px solid var(--background);
  flex: 0.2;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.sidebarClass {
  border: 1px solid var(--background);
  margin-top: 30px;
  background-color: white;
  border-radius: 7px;
}
.sidebarClass h3 {
  font-weight: 600;
  padding: 10px;
  font-size: 1rem;
  color: #4f5468;
  text-transform: uppercase;
}
.sidebarElement {
  padding: 10px;
}
.clases {
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: #4f5468;
}
.clases:hover {
  background-color: var(--background);
  border-radius: 30px;
  color: var(--color);
  transition: color 100ms ease-out;
  cursor: pointer;
}

.sidebarDot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--puntoMisClases);
  display: inline-block;
  margin-bottom: 0.125rem;
}

/*feed */

.feed {
  flex: 0.5;
  border-right: 1px solid var(--background);
  border-top: 1px solid var(--background);
  min-width: fit-content;
  overflow-y: scroll;
  margin-top: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
}
.feed::-webkit-scrollbar {
  display: none;
}

.feed_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--background);
  padding: 15px 20px;
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
}

.boxText_input img {
  height: 50px;
  border-radius: 50%;
}
.boxText {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background);
}

.form {
  display: flex;
  flex-direction: column;
}

.boxText_input {
  display: flex;
  padding: 20px;
}
.boxText_input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.select_materia select {
  outline: none;
  width: 90%;
  height: 35px;
  font-size: 15px;
  display: block;
  margin: 10px auto;
}

.footer_post{
display: flex;
width: 95%;
}
.select_file{
  margin-left: 5%;
}
.image-upload{
  margin-top: 20px;
}
.image-upload i {
  font-size: 26px;
}
.preview_contenedor h3{
  font-size: 18px;
  font-weight: 500;
  
}
.preview_contenedor {
  width: 90%;
  height:50px;
  margin: auto;
  padding: 10px;
  display: flex;
  background-color: #f4f4f7;
  border-radius: 7px;
  border: 1px solid var(--background);
  margin-top: 6px;
  overflow: hidden;
 
}
.preview {
  
  padding: 5px;
  
}
.file{
  font-size:30px;
  color:var(--color);
}
.equis{
  margin-left: auto;
}
.boxText_btn {
  background-color: var(--color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 7px;
  width: 100px;
  height: 35px;
  margin-top: 20px;
  margin-left: auto;
  cursor: pointer;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--background);
  padding-bottom: 10px;
}

.post_avatar {
  padding: 20px;
}
.post_avatar img {
  height: 50px;
  border-radius: 50%;
}

.post_body {
  max-width: 500px;
  padding: 10px;
}
.post_body img {
  width:12vw;
  height:10vw;

 
}

.post_title {
  font-weight: 600;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.post_body_text {
  margin-bottom: 20px;
  font-size: 15px;
  margin-top: 15px;
}
.previw_archivosPost{
  width: 87%;
  height:50px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  background-color: #f4f4f7;
  border-radius: 7px;
  border: 1px solid var(--background);
  margin-top: 6px;
  overflow: hidden;
}
.previw_archivosPost h3:hover{
cursor: pointer;
}
/* Event */

.event {
  flex: 0.3;
}
.events_header {
  margin-top: 20px;
  background-color: white;
  margin-left: 20px;
  border: 1px solid var(--background);
  padding: 12.8px 20px;
}
.event img {
  height: 250px;
}
.calendarioElement {
  margin-top: 30px;
  margin-left: 20px;
}

.currentEvent {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 7px;
  margin-left: 20px;
}

.currentEvent_contenedor {
  border: 1px solid var(--background);
  border-radius: 7px;
}

.currentEvent_contenedor h3 {
  font-weight: 600;
  padding: 10px;
  font-size: 1rem;
  color: #4f5468;
  text-transform: uppercase;
}
.sidebarDot_event {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--puntoEvento);
  display: inline-block;
  margin-bottom: 0.125rem;
}

.events_header {
  display: flex;
  font-size: 20px;
  border-radius: 7px;
}

.events_icon {
  margin: auto;
}
.coloricono {
  color: #b2b2b2;
}
.sombra:hover {
  text-shadow: 1px 2px 4px #444444;
}
