@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: #50b7f5;
  --background: #e6ecf0;
 
}
.contenedorDiv{
  display: flex;
  height: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}
.sidebarUser img {
  height: 50px;
  border-radius: 50%;
}

.sidebarUser {
  display: flex;
  align-items: center;
}

.sidebarUser p {
  font-size: 17px;
  font-weight: 600;
  margin-left: 15px;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOption .fas {
  padding: 20px;
}
.sidebarOption h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
.sidebarOption:hover {
  background-color: var(--background);
  border-radius: 30px;
  color: var(--color);
  transition: color 100ms ease-out;
}

.sidebar {
  border-right: 1px solid var(--background);
  flex: 0.2;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.sidebarClass{
border: 1px solid var(--background);
margin-top: 50px;
}
.sidebarClass h3{
  font-weight: 600;
  padding: 5px;
  font-size:1rem;
  color:#4f5468;
  text-transform: uppercase;
}
.sidebarElement{
  padding: 10px;
}
.clases{
  padding: 10px; 
  font-weight: 600;
  font-size:1rem;
  color:#4f5468;
  
}
.clases:hover{
  background-color: var(--background);
  border-radius: 30px;
  color: var(--color);
  transition: color 100ms ease-out;
  cursor: pointer;
}

.sidebarDot{
  height:0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--color);
  display: inline-block;
  margin-bottom: 0.125rem;
}









/*feed */

.feed {
  flex: 0.5;
  border-right: 1px solid var(--background);
  min-width: fit-content;
  overflow-y: scroll;
  margin-top: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feed::-webkit-scrollbar {
  display: none;
}

.feed_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--background);
  padding: 15px 20px;
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
}

.boxText_input img {
  height: 50px;
  border-radius: 50%;
}
.boxText {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background);
  padding-right: 10px;
}

.boxText form {
  display: flex;
  flex-direction: column;
}

.boxText_input {
  display: flex;
  padding: 20px;
}
.boxText_input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.boxText_btn {
  background-color: var(--color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  width: 30%;
  height: 35px;
  margin-top: 20px;
  margin-left: auto;
}




.post{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--background);
  padding-bottom: 10px;
 
}

.post_avatar{
  padding:20px;
}
.post_avatar img {
  height: 50px;
  border-radius: 50%;
}

.post_body{
  max-width: 500px;
  padding:10px;

}
.post_body img{
  width:450px;
  object-fit: contain;
  border-radius: 20px;

}

.post_title{
  font-weight: 600;
  font-size: 15px;
  color:rgb(0, 0, 0);
 
}
.post_body_text{
  margin-bottom: 20px;
  font-size: 15px;
  margin-top: 15px;
 
}




/* Event */

.event{
  flex: 0.3;
}
.event img{
  height: 250px;
}
.calendarioElement{
  margin-top: 20px;
  margin-left: 55px;

}

.currentEvents{
  border: 1px solid var(--background);
}

.currentEvent{
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.currentEvent_contenedor{
  border: 1px solid var(--background);
margin-top: 50px;
}
.sidebarDot_event{
  height:0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-bottom: 0.125rem;
}