@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: #50b7f5;
    --background: #cbd5e0;
    --puntoMisClases: #83c298;
    --puntoEvento: #609abe;
    --colorLetra: #4f5468;
    background-color: #f4f4f7;
}


/*CODIGO          INICIO              AuTi*/

.linea_border_bottom {
    border-bottom: 1px solid var(--background);
}

.second_feed {
    flex: 0.5;
    border-right: 1px solid var(--background);
    border-left: 1px solid var(--background);
    min-width: 530px;
    overflow-y: scroll;
    margin-top: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: white;
}

.second_feed::-webkit-scrollbar {
    display: none;
}

.imagen_pasar_lista {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#notificacion {
    color: #ff6262;
}

#notificacion:hover {
    background-color: #f4f4f7;
    cursor: pointer;
}

.contenedor_scroll_pendientes {
    height: 380px;
    overflow-y: scroll;
}

.pendientes {
    border-bottom: 1px solid var(--background);
}

.pendientes:hover {
    background-color: var(--background);
    transition: color 100ms ease-out;
    cursor: pointer;
}

.pendientes_titulo {
    border-bottom: 1px solid var(--background);
}

.pendientes_tarea {
    padding: 10px;
    font-weight: 600;
    font-size: 0.95rem;
    color: var(--colorLetra);
}

.events_icon:hover {
    color: var(--color);
}


/*CODIGO        FIN                AuTi*/

.contenedorDiv {
    display: flex;
    height: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

.sidebarUser img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.sidebarUser {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid var(--background);
}

.sidebarUser p {
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
    text-decoration: none;
    color: var(--colorLetra);
}

.contenedor-sidebar {
    border: 1px solid var(--background);
    background-color: white;
    margin-top: 30px;
    border-radius: 7px;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .fas {
    padding: 15px;
}

.sidebarOption h2 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 7px;
    text-decoration: none;
    color: var(--colorLetra);
}

details {
    margin-left: 1rem;
    margin-right: 1rem;
}

.router-link {
    text-decoration: none !important;
    color: var(--colorLetra);
}

.sidebarOption:hover {
    background-color: var(--background);
    color: var(--color);
    transition: color 100ms ease-out;
}

.sidebar {
    flex: 0.2;
    min-width: 250px;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebarClass {
    border: 1px solid var(--background);
    margin-top: 30px;
    background-color: white;
    border-radius: 7px;
}

.sidebarClass h3 {
    font-weight: 600;
    padding: 10px;
    font-size: 1rem;
    color: #4f5468;
    text-transform: uppercase;
}

.sidebarElement {
    padding: 10px;
}

.clases {
    padding: 10px;
    font-weight: 600;
    font-size: 0.95rem;
    color: #4f5468;
}

.sidebarElement:hover {
    background-color: var(--background);
    color: var(--color);
    transition: color 100ms ease-out;
    cursor: pointer;
}

.sidebarDot {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--puntoMisClases);
    display: inline-block;
    margin-bottom: 0.125rem;
}


/*feed */

.feed {
    flex: 0.5;
    border-right: 1px solid var(--background);
    border-top: 1px solid var(--background);
    border-left: 1px solid var(--background);
    min-width: 530px;
    overflow-y: scroll;
    margin-top: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: white;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: white;
    /*  border-bottom: 1px solid var(--background); */
    padding: 15px 20px;
}

.feed_header h2 {
    margin: auto;
    font-size: 20px;
    font-weight: 800;
}

.sub_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid var(--background);
    border-top: 1px solid var(--background);
    padding: 15px 15px;
}

.fc-scrollgrid {
    height: 300px;
}

.sub_header h3 {
    margin: auto;
    font-size: 18px;
    font-weight: 600;
}

.boxText_input img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.boxText {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--background);
}

.btn-close {
    background-image: url("../images/cruz_roja2.png");
}

.form {
    display: flex;
    flex-direction: column;
}

.boxText_input {
    display: flex;
    padding: 20px;
}

.boxText_input textarea {
    flex: 1;
    margin-left: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    width: 419px;
    overflow: hidden;
    resize: none;
}

.select_materia select {
    outline: none;
    width: 90%;
    height: 35px;
    font-size: 15px;
    display: block;
    margin: 10px auto;
}

.footer_post {
    display: flex;
    width: 95%;
}

.select_file {
    margin-left: 5%;
}

.image-upload {
    margin-top: 20px;
}

.image-upload i {
    font-size: 26px;
}

.preview_contenedor h3 {
    height: 100%;
    color: black;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview_contenedor {
    width: 90%;
    height: 50px;
    margin: auto;
    padding: 10px;
    display: flex;
    background-color: #f4f4f7;
    border-radius: 7px;
    border: 1px solid var(--background);
    margin-top: 6px;
    overflow: hidden;
}

.preview {
    padding: 5px;
}

.file {
    font-size: 30px;
    color: var(--color);
}

.equis {
    margin-left: auto;
}

.boxText_btn {
    background-color: var(--color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
}

.btn_jitsi {
    background-color: var(--color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 7px;
    width: 70px;
    height: 24px;
    cursor: pointer;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--background);
    padding-bottom: 10px;
}

.post_avatar {
    padding: 20px;
}

.post_avatar img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.post_body {
    min-width: 430px;
    padding: 10px;
}

.post_body img {
    width: 165px;
    height: 10vw;
}

.posts_style {
    height: 50px;
    margin: auto;
    padding: 8px;
    display: flex;
    background-color: #f4f4f7;
    border-radius: 7px;
    border: 1px solid var(--background);
    color: black;
    text-decoration: bold;
    margin-top: 8px;
    overflow: hidden;
}

.post_title {
    font-weight: 600;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.post_body_text {
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 15px;
}

.post_body p {
    font-weight: 1000;
    font-size: 12px;
    color: grey;
}

.post_body span {
    font-weight: 600;
    font-size: 18px;
}

.previw_archivosPost {
    height: 60px;
    margin: auto;
    padding: 10px;
    display: flex;
    background-color: #f4f4f7;
    border-radius: 7px;
    border: 1px solid var(--background);
    margin-top: 6px;
    overflow: hidden;
}

.previw_archivosPost h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.previw_archivosPost h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.previw_archivosPost span {
    margin-left: 5px;
}

.contenedorImg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 1s;
}

.imgPost img {
    object-fit: cover;
    width: 170px;
    height: 150px;
    margin: 3px;
    border-radius: 4px;
    border: 0.5px solid rgb(255, 255, 255);
}

.imgPost img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* Event */

.events {
    flex: 0.3;
    height: 100vh;
    position: sticky;
    top: 0;
}

.events_header {
    margin-top: 20px;
    background-color: white;
    margin-left: 20px;
    border: 1px solid var(--background);
    padding: 12.8px 20px;
}

.calendarioElement {
    margin-top: 30px;
    margin-left: 20px;
}

.currentEvent {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 7px;
    margin-left: 20px;
}

.currentEvent_contenedor {
    border: 1px solid var(--background);
    border-radius: 7px;
}

.currentEvent_contenedor h3 {
    font-weight: 600;
    padding: 10px;
    font-size: 1rem;
    color: #4f5468;
    text-transform: uppercase;
}

.sidebarDot_event {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--puntoEvento);
    display: inline-block;
    margin-bottom: 0.125rem;
}

.events_header {
    display: flex;
    font-size: 20px;
    border-radius: 7px;
}

.events_icon {
    margin: auto;
}

.noticont {
    position: relative;
}

.noticont:hover {
    cursor: pointer;
}

.noticont p:hover {
    color: #50b7f5;
    transition: all 0.2s ease-in-out;
}

.icon_noti p {
    border-bottom: 1px solid var(--colorLetra);
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon_noti p:last-child {
    border-bottom: none;
}

.icon_noti {
    display: none;
    color: rgb(0, 0, 0);
    width: 180px;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 0 3px #000000;
    text-decoration: none;
    outline: none;
    position: absolute;
    margin-top: 19px;
    transform: translateX(-50%);
    border-radius: 3px;
}

.fa-bell-slash:hover {
    border-radius: 50%;
    color: var(--color);
}

.coloricono {
    color: #b2b2b2;
}

.sombra:hover {
    text-shadow: 1px 2px 4px #444444;
}

.styleTarea label {
    margin-left: 27px;
}

.styleTarea input,
textarea {
    outline: none;
    width: 90%;
    height: 30px;
    font-size: 15px;
    display: block;
    margin: 10px auto;
    background: transparent;
    border: 0;
    border-bottom: 4px solid var(--background);
}

.styleTarea div {
    margin-top: 10px;
}

.select_tarea {
    outline: none;
    width: 90%;
    display: block;
    margin: 10px auto;
}

.select_tarea select {
    float: right;
    height: 28px;
    font-size: 15px;
}

.footer_tarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.boxText_btn_tarea {
    background-color: var(--color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    margin-left: 348px;
    cursor: pointer;
}

.footer_tarea {
    display: flex;
    flex-direction: row;
}

.imgProfile {
    border: 1px solid var(--background);
    border-radius: 5px;
    width: 95%;
    margin: 15px auto 10px auto;
    display: flex;
    flex-direction: row;
}

.imgContenedorProfile img {
    margin: 10px 0px 10px 10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.imgContenedorProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.textImg h3 {
    font-size: 17px;
    font-weight: 600;
    margin-left: 25px;
    text-decoration: none;
    margin-top: 20px;
    color: var(--colorLetra);
}

.textImg h4:hover {
    cursor: pointer;
}

.textImg h4 {
    font-size: 13px;
    font-weight: 600;
    margin-left: 25px;
    text-decoration: none;
    color: skyblue;
    text-align: center;
}

.contenedorPerfil {
    width: 95%;
    margin: auto;
}

.contenedorPerfil h5 {
    font-size: 20px;
}

.contenedorPerfil h4 {
    font-size: 18px;
}

.tipoDeUser {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenidoUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--background);
    height: 50px;
    padding: 10px;
    min-width: 220px;
    margin-top: 5px;
    justify-content: space-between;
    border-radius: 7px;
}

.contenidoUser h4 {
    font-size: 16px;
}

.fc-toolbar-chunk {
    display: none;
}

.fc-scroller {
    overflow: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.contenidoUser i {
    font-size: 30px;
}

.infoUserContenedor {
    width: 95%;
}

.infoUser h4 {
    background-color: #cbd5e0;
    border: 1px solid var(--background);
    height: 40px;
    padding: 8px;
    border-radius: 7px;
}

.infoUser span {
    font-weight: bold;
}

.infoUser {
    width: 500px;
    margin-top: 5px;
}

.agendaContenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.agendaContenedor label {
    margin-top: 10px;
    margin-left: 20px;
}

.agendaContenedor select {
    max-width: 200px;
    margin-right: 80px;
    margin-top: 5px;
}

.imput_fechaAgenda {
    max-width: 200px;
    margin-right: 80px;
    margin-top: 5px;
    border: 1px solid var(--background);
    border-radius: 3px;
}

.contenedorDuracion {
    display: flex;
    flex-direction: column;
}

.contenedorDuracion select {
    width: 200px;
    margin-right: 80px;
    margin-top: 5px;
    border: 1px solid var(--background);
    border-radius: 3px;
    height: 38px;
}

.btn_crearClase {
    background-color: var(--color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 7px;
    width: 112px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn_crearTarea {
    background-color: var(--color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 7px;
    width: 112px;
    height: 35px;
    cursor: pointer;
}

.movimientoBtnAgenda {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: 80px;
}

.cambioPwdContenedor {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.inputsPwd input {
    outline: none;
    width: 95%;
    height: 30px;
    font-size: 15px;
    margin: 10px auto;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--background);
}

.cambioPwdBtn {
    display: flex;
    flex-direction: row-reverse;
}

.moverBtnCrearTarea {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px;
    margin-top: 10px;
}

.alumnoEntregaTarea_checkbox {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px;
    margin-top: 20px;
    align-items: center;
}

.alumnoEntregaTarea_checkbox label {
    margin-top: 8px;
    margin-right: 10px;
}

.alumnoEntregaTarea_puntaje {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: -60px;
}

.alumnoEntregaTarea_puntaje input {
    width: 30px;
    outline: none;
}

.alumnoEntregaTarea_puntaje label {
    text-align: center;
    margin: auto 10px;
    height: 21px;
}

.alumnoEntregaTareaBtn {
    width: 150px;
    display: flex;
    height: 30px !important;
}

.alumnoEntregaTareaBtn p {
    margin: 4px auto;
}

.alumnoEntregaTareaContenedor textarea {
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.spinnerCSS {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.spinerCont {
    display: flex;
    justify-content: center;
}

.menu-card-home {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 0;
}

.menu-card-home:hover {
    cursor: pointer;
}

.notiPostBody {
    display: none;
    top: 5px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0 3px #000000;
    padding: 3px 10px;
    margin: 10px 0px;
    border-radius: 5px 0px 5px 5px / 5px 10px 5px 5px;
}

.notiPostBody p {
    display: flex;
    margin: 5px 0px;
    font-size: 14px;
}

.red {
    color: red;
}

.btn_postBody:hover {
    background-color: lightgray;
}

.contenedor_pdf {
    margin-bottom: 10px;
}

.entregarTareaProfesor {
    display: flex !important;
    justify-content: center;
    flex-direction: column !important;
}

.clificarTareaCss {
    margin-top: 30px;
    border-bottom: 1px solid var(--background);
}

.clificarTareaCss span {
    font-size: 15px;
}

.titleCalificarComponent h4 {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}

.contPostAlu {
    margin-top: 20px;
    position: relative;
}

.postAlumcont {
    position: absolute;
    top: -30px;
    font-size: 22px;
    left: 111px;
}

.entregaTareaCont {
    width: 90%;
    margin: 20px auto;
}

.archivoTarea {
    width: 90%;
}

.entregaTareaCont h2 {
    font-size: 23px;
}

.tareaSeleccionadaCont {
    margin: 20px auto;
}

.tareaSeleccionadaCont h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

.usuariosComponentlistado {
    display: flex;
    border-bottom: 1px solid var(--background);
}

.textUser {
    margin-top: 6%;
}

.usuarioComponentProfesor {
    background-color: lightgray;
    font-weight: 600;
}

.usuariosComponentContedor:hover {
    background-color: var(--background);
    color: black;
}

.usuariosComponentSeparacion {
    border: none;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0;
    border-bottom: 1px solid var(--background);
}

.listadousuarioComponentBuscador {
    width: 80%;
    margin: 10px auto;
}

.listadousuarioComponentBuscador h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.profeCalificacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profeCalificacion input {
    border-radius: 5px;
    text-align: center;
    width: 25%;
    font-weight: 400;
}

.visualizarTareacomponentCorrecionProfe p {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.contPdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnpdf {
    background-color: var(--color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 7px;
    width: 100px;
    height: 28px;
    text-align: center;
    margin: 15px 10px;
}

.btncheck {
    width: 30px;
    line-height: 1.7;
}

.contTareaSele span {
    font-weight: 600;
    font-size: 18px;
}

.registroContFiltro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px auto;
}

.inputFiltrogrande {
    width: 170px;
}

.inpuntRegistro {
    width: 65px;
    margin-left: 5px;
}

.btn-lupa-registro {
    background-color: var(--color);
    border: none;
    color: white;
    border-radius: 7px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 2.5;
}

.ojoRegistro {
    margin-right: 20px;
}

.ojoRegistro i {
    margin-left: 5px;
}

.ojoRegistro small {
    font-size: 18px;
}

.fechaRegistroComponent {
    font-size: 14px;
    margin-top: 10px;
}

.noResultadoRegistroComp {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}